body{
  background-image: url('./assets/images/img2.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}


.home{
  background-image: url('./assets/images/img2.1_blur.jpg');
  justify-content: center;
  border: 3px inset lightgrey;
  text-align: center;
  text-emphasis: bold;
  color: aliceblue;
  padding: 30px;
  z-index: -1;
  border-radius: 7px;
}

.dataForm {
  background-image: url('./assets/images/img2.2_blur.png');
  justify-content: center;
  border: 3px inset lightgrey;
  padding: 30px;
  z-index: -1;
  border-radius: 7px;
}

.form_label {
  color: white;
}

@media only screen and (min-width: 991px){
  .home{
    position: absolute;
    top: 25%;
    left: 35%;
    right: 35%;
    padding: 40px;
  }

  .dataForm{
    position: absolute;
    top: 11%;
    left: 15%;
    right: 15%;
    padding: 40px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 991px){
  .home{
    position: absolute;
    top: 30%;
    left: 20%;
    right: 20%;
  }
  .dataForm{
    position: absolute;
    top: 11%;
    left: 10%;
    right: 10%;
    padding: 40px;
  }
}

@media only screen and (max-width: 500px){
  .home{
    position: absolute;
    top: 30%;
    left: 5%;
    right: 5%;
  }

  .dataForm{
    position: absolute;
    top: 13%;
    left: 5%;
    right: 5%;
    padding: 40px;
  }
}

